@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: ease all 0.5s;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
  border: none;
  resize: none;
}

header .navbar {
  border-radius: 0;
}

#header.top-head {
  background: #fff;
}

header .navbar-default {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  position: relative;
  -webkit-box-shadow: 0 15px 19px -19px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 19px -19px rgba(0, 0, 0, 0.1);
}

header .navbar-default .navbar-header {
  z-index: 1030;
  position: relative;
  background: #fff;
}

.navbar-brand {
  padding: 21px 15px;
  font-size: 18px;
  line-height: 20px;
  border-right: 1px solid #e8e8e8;
}

.form-control {
  padding-left: 10px;
  color: #2d2d2d;
  font-family: 'Raleway', sans-serif;
}

.navbar-brand>img {
  width: 90px;
}

.right-nav {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.login-sr {
  margin-left: 15px;
}

.login-signup {
  padding: 13px 0;
}
.login-signup ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-signup ul li {
  display: inline-block;
}

.login-signup ul li span {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #636363;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding: 10px 23px;
}

.login-signup ul li span:hover {
  cursor: pointer;
  color: #1e96ff;
}

.login-signup ul li span.custom-b {
  background: #09294c;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 10px 23px;
}

.login-signup ul li span.custom-b:hover {
  cursor: pointer;
  background: #1d99ff;
}

.help-box {
  margin: 10px 0;
  border-right: 1px solid #dcdcdc;
}

.help-box ul li span, .help-box ul  {
  display: flex;
  align-items: center;
}

.help-box ul {
  padding: 2px 10px 2px 0;
}

.help-box ul li {
  margin: 0;
  display: inline-block;
  padding: 0 0 0 15px;
}

.help-box ul li span {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #636363;
  text-decoration: none;
  font-size: 14px;
  line-height: 42px;
}

.help-box ul li span:hover {
  cursor: pointer;
  color: #1e96ff;
}

.help-box ul li span span {
  padding-right: 10px;
}

.help-box ul li span .h-i {
  padding-right: 10px;
}

.nav-box {
  margin: 10px 0;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  padding: 0 15px;
}

.nav-box ul {
  padding: 12px 0;
}

.nav-box ul li {
  display: inline-block;
}

.nav-box ul li span, .nav-box ul li a {
  font-family: 'Raleway', sans-serif;
  color: #636363;
  text-decoration: none;
  font-size: 14px;
  padding: 0 10px;
  font-weight: 400;
}

.nav-box ul li span:hover, .nav-box ul li a:hover {
  cursor: pointer;
  color: #1e96ff;
}

.form-box {
  position: relative;
  margin-right: 15px;
}

.form-box input {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  color: #646464;
  min-height: 51px;
  padding-left: 30px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding-right: 140px;
  border-radius: 50px;
}

.form-box button {
  border: none;
  background: #1d99ff;
  color: #fff;
  padding: 11px 35px 11px;
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  right: 5px;
  top: 4px;
  border-radius: 50px;
}

.form-box button:hover {
  background-color: #007dea;
}

.help-box-f h4 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 4px 0;
}

.help-box-f p {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  padding-top: 3px;
}

.footer-link-box {
  padding-top: 55px;
  padding-bottom: 55px;
}

.left-f-box h2 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 0 0 0 10px;
  text-transform: uppercase;
  border-left: solid #007dea 4px;
  margin-bottom: 20px;
  line-height: normal;
}

.left-f-box ul {
  margin: 0;
  padding: 0;
}

.left-f-box ul li {
  padding-bottom: 10px;
}

.left-f-box ul li a {
  color: #7b9bbf;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.left-f-box ul li a:hover {
  color: #fff;
}

.right-f-box h2 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 0 0 0 10px;
  border-left: solid #007dea 4px;
}

.right-f-box ul {
  margin: 0;
  padding: 0;
}

.right-f-box ul li {
  padding-bottom: 10px;
}

.right-f-box ul li a {
  color: #7b9bbf;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.right-f-box ul li a:hover {
  color: #fff;
}

/*-- Copyright --*/

.copyright {
  background: #ffffff;
}

.copyright p {
  margin-top: 20px;
  font-size: 14px;
  color: #636363;
}

.copyright p img {
  margin-right: 10px;
}

.copyright p a {
  color: #636363;
}

.copyright p a:hover {
  text-decoration: underline;
}

.copyright .socials {
  float: right;
  padding: 15px 0;
}

.copyright .socials {
  margin: 0;
}

.copyright .socials li {
  margin: 0;
}

.copyright .socials li a {
  color: #09294c;
  font-size: 18px;
}

.right-flag {
  display: inline-block;
  float: right;
  padding: 8px 0;
  margin-right: 25px;
}

.right-flag li a {
  color: #626262;
}

.like-list ul li:last-child .im-b {
  border: none;
  text-align: center;
  height: 26px;
  width: 26px;
  line-height: 26px;
}

.small-box-c {
  -webkit-box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 12px;
  max-width: 30%;
}

.small-box-c:hover {
  cursor: pointer;
}

.small-img-b img {
  width: 100%;
}

.small-box-c .prod-btn a {
  margin-right: 5px;
  padding: 6px 6px;
}

.small-box-c .prod-btn a:hover {
  color: #1c95fd;
}

.small-box-c .prod-btn p {
  color: #a5a5a5;
  font-size: 12px;
}

.small-box-c .prod-btn {
  color: #2d2d2d;
}

.menu-block {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.img-dish {
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 920px) {
  .img-dish {
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.bucket-body {
  width: 50%;
  margin: 20px auto;
  padding: 10px 40px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bucket-body h3 {
  color: #0b294b;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.bucket-body hr {
  width: 100%;
  border: 2px solid #1C3247;
}

.bucket-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}

.bucket-dish {
  height: 100px;
  width: 100px !important;
  object-fit: cover;
  border-radius: 5px;
}

.item-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 150px;
}

.item-count {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  width: 25px;
  height: 25px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  outline: none;
}

.add-btn {
  background-color: #1C3247;
}

.delete-btn {
  background-color: #df4c18;
}

.add-btn:hover, .delete-btn:hover {
  cursor: pointer;
}

.continue-btn {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 15px;
  background-color: #1C3247;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  outline: none;
}

.total-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;
}

.wrapper-dish {
  width: 50%;
  height: 100%;
  margin: 20px auto;
  border-radius: 5px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.wrapper-dish h4 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper-dish p {
  padding: 10px;
  text-align: center;
}

.receipt {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.receipt p {
  margin: 0;
  text-align: center;
}

.price {
  font-weight: bold;
  margin-left: 10px;
}
